 
 
 <divclass="container center-div py-15  >
        <h3 class="text-center mt-29">Welcome to Express Dashboard</h3>
        <h5 class="text-center mt-4">{{{email}}}</h5>
        <div class="text-center">
             <a href="/logout" class="btn btn-danger ">Logout<a> 
       
        </div>
    </div>
